# https://npm.taobao.org/mirrors

# CYPRESS_INSTALL_BINARY change to target version
CYPRESS_INSTALL_BINARY=https://npm.taobao.org/mirrors/cypress/4.9.0/mac/cypress.zip

sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/
registry=https://registry.npm.taobao.org/
