/* stylelint-disable */
@font-face {
  font-family: "iconfont";
  src: url("~@/assets/fonts/iconfont.eot?af543ffa31217f1b3c01854aa7ef7ee3?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/iconfont.woff2?af543ffa31217f1b3c01854aa7ef7ee3") format("woff2"),
    url("~@/assets/fonts/iconfont.woff?af543ffa31217f1b3c01854aa7ef7ee3") format("woff");
}

.icon {
  display: inline-block;
  transform: translate(0, 0);
  text-rendering: auto;
}

.icon::before {
  font-family: iconfont !important;
  font-style: normal;
  font-weight: normal !important;
  vertical-align: top;
}

.icon-ios-add-circle::before {
  content: "\f101";
}

.icon-ios-alarm::before {
  content: "\f102";
}

.icon-ningmenggan::before {
  content: "\f103";
}

.icon-xiaren::before {
  content: "\f104";
}
/* stylelint-enable */
