/* stylelint-disable */
.svg-ios-add-circle {
  display: inline-block;
  background: url("../images/svgsprite.svg") 0 0 no-repeat;
  width: 512px;
  height: 512px;
}

.svg-ios-alarm {
  display: inline-block;
  background: url("../images/svgsprite.svg") 100% 0 no-repeat;
  width: 512px;
  height: 512px;
}

.svg-ningmenggan {
  display: inline-block;
  background: url("../images/svgsprite.svg") 0 100% no-repeat;
  width: 200px;
  height: 200px;
}

.svg-xiaren {
  display: inline-block;
  background: url("../images/svgsprite.svg") 24.271844660194176% 100% no-repeat;
  width: 200px;
  height: 200px;
}

/* stylelint-enable */
